* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    transition: .5s;
}

html {
    scroll-behavior: smooth;
}

/*===========constants===========*/
.container { /*контейнер*/
    margin: 0 auto;
    width: 960px;
}

.active { /*активное окно*/
    color: #00e0d0;
}

.blackout { /*затемнение*/
    background: rgba(21, 12, 61, .8);
    height: 100%;
}
/*===========website===========*/
/*===========header===========*/
header {
    height: 80px;
    /*background: #000;*/
}

.logo_line {
    display: inline-flex;
    text-decoration: none;
}

.logo_line > img {
    margin-top: 15px;
}

.logo_line > p {
    font-weight: revert;
    font-size: 30px;
    margin: 23px 10px 0;
    background: linear-gradient(90deg, #00e0d0, #4aa3cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.company_name {
    display: inline;
    color: #00e0d0;
    margin-bottom: 200px;
}

nav {
    display: block;
    text-transform: uppercase;
    height: max-content;
    float: right;
    margin-top: 34px;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

li > a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

li > a:hover {
    color: #00e0d0;
}

/*===========content===========*/
/*===========home===========*/
.content {
    background: center url("../img/bg/bg_footer.png") no-repeat;
    height: 670px;
}

.home {
    text-align: center;
    margin-top: 218px;
    color: #fff;
    height: 372px;
}

.home > p {
    color: #00e0d0;
    padding-bottom: 24px;
}

.home > div {
    margin: 0 auto;
    width: 770px;
    font-size: 14px;
    padding-bottom: 53px;
}

.home > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    border-radius: 1px;
    padding: 14px 15px;
    margin-bottom: 127px;
}

.home > a:hover {
    color: #fff;
    background: #00e0d0;
}
/*===========about===========*/
.about {
    padding-top: 70px;
}

.info {
    height: 320px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 100px;
}

.text_info > h1 {
    height: 22px;
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: #413d4b;
}

.text_info > div {
    color: #413d4b;
    font-size: 14px;
    margin-bottom: 42px;
}

.text_info > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    border-radius: 1px;
    padding: 14px 15px;
}

.text_info > a:hover {
    color: #fff;
    background: #00e0d0;
}

.video {
    height: 550px;
    background: center url("../img/bg/bg_about.png") no-repeat;
    text-decoration: none;
}

.circle {
    position: relative;
    top: 220px;
    left: calc(50% - 50px);
    height: 98px;
    width: 98px;
    border: 3px solid #fff;
    border-radius: 50%;
    /*margin: 202px;*/
}

.triangle {
    position: relative;
    color: #fff;
    font-size: 55px;
    top: 10px;
    left: 27%;
}

.watch {
    width: max-content;
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    top: 255px;
    left: calc(50% - 227px / 2);
}

/*===========expertise===========*/
.expertise {
    height: 770px;
    text-align: center;
}

.start_expertise > h1 {
    padding: 70px 0 20px;
    font-size: 22px;
    text-transform: uppercase;
    color: #413d4b;
}

.start_expertise > p {
    font-size: 14px;
    color: #2f2d35;
}

.items {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 1px;
    background: #bbb;
}

.item {
    width: 320px;
    height: 250px;
    background: #fff;
    border-radius: 1px;
}

.item:hover {
    position: relative;
    opacity: 1;
    z-index: 5;
    transform: scale(1.1);
    box-shadow: 0 0 10px #333333;
}

.item > img {
    margin-top: 30px;
    height: 50px;
}

.item > h2 {
    font-size: 14px;
    margin: 35px 0 30px;
    color: #413d4b;
    text-transform: uppercase;
}

.item > p {
    font-size: 14px;
    color: #333;
}

/*===========teams===========*/
.teams {
    text-align: center;
    height: 712px;
    background: url("../img/bg/bg_teams.png");
}

.text_teams {
    padding: 70px 0 0;
}

.text_teams > h1 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
}

.text_teams > p {
    font-size: 14px;
    color: #f9f9f9;
}

.teams_arr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.team {
    margin-top: 47px;
    width: 220px;
    height: 306px;
    border: 1px solid #fff;
}

.team:hover {
    position: relative;
    opacity: 1;
    z-index: 5;
    transform: scale(1.1);
    border: 1px solid #00e0d0;
}

.photo {
    width: 220px;
    height: 229px;
    background: #fff;
}

.us1 {
    background: center url("../img/teams/1.jpg");
    background-size: 110%;
}

.us2 {
    background: center url("../img/teams/2.jpg");
    background-size: 110%;
}

.us3 {
    background: center url("../img/teams/3.jpg");
    background-size: 110%;
}

.us4 {
    background: center url("../img/teams/4.jpg");
    background-size: 110%;
}

.info_team > h2 {
    margin-top: 18px;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.info_team > p {
    margin-top: 10px;
    font-size: 12px;
    color: #f9f9f9;
    text-transform: uppercase;
}

.call {
    margin: 70px 0 50px;
    font-size: 14px;
    color: #fff;
}

.call_but {
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    border-radius: 1px;
    padding: 14px 15px;
}

.call_but:hover {
    color: #fff;
    background: #00e0d0;
}

/*===========works===========*/
.works {
    text-align: center;
    height: 690px;
}

.works_text > h2 {
    display: inline-flex;
    width: max-content;
    margin: 70px 580px 0 0;
    font-size: 22px;
    color: #413d4b;
    text-transform: uppercase;
}

.works_text > a {
    text-decoration: none;
    margin-top: 73px;
    font-size: 14px;
    color: #413d4b;
    text-transform: uppercase;
}

.work {
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.work > img {
    height: 180.5px;
}

.work > img:hover {
    transform: scale(1.1);
    z-index: 5;
}

.works_but {
    margin-top: 70px;
    text-decoration: none;
    text-transform: uppercase;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    border-radius: 1px;
    padding: 14px 15px;
}

.works_but:hover {
    color: #fff;
    background: #00e0d0;
}

/*===========comment===========*/
.comment {
    height: 500px;
    background: url("../img/bg/bg_comment.png");
    text-align: center;
    color: #fff;
}

.quotes {
    height: 25px;
    padding-top: 70px;
    font-size: 100px;
    font-family: "PlayfairDisplay";
}

.text_comment {
    margin-top: 45px;
}

.comment1,
.comment2,
.comment3,
.comment4,
.comment5 {
    display: none;
}

.text_see {
    display: block;
}

.text_see > h2 {
    margin-top: 55px;
    font-size: 22px;
    text-transform: uppercase;
}

.commentator {
    display: inline-flex;
    margin-top: 58px;
}

.commentator1,
.commentator2,
.commentator3,
.commentator4,
.commentator5 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

.commentator1 {
    background: center url("../img/users/user1.png");
    background-size: 100%;
}

.commentator2 {
    background: center url("../img/users/user2.png");
    background-size: 100%;
}

.commentator3 {
    background: center url("../img/users/user3.png");
    background-size: 100%;
}

.commentator4 {
    background: center url("../img/users/user4.png");
    background-size: 100%;
}

.commentator5 {
    background: center url("../img/users/user5.png");
    background-size: 100%;
}

.com_see,
.commentator1:hover,
.commentator2:hover,
.commentator3:hover,
.commentator4:hover,
.commentator5:hover {
    transform: scale(1.3);
}

.comment_bottom {
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}

.message > h1,
.clients > h1 {
    font-size: 22px;
    margin: 70px 0 30px;
    color: #413d4b;
    text-transform: uppercase;
}

.form > input {
    text-transform: capitalize;
    padding-left: 20px;
    margin: 10px 0;
    width: 460px;
    height: 43px;
    border: 1px solid #bbb;
    font-size: 14px;
}

.form > textarea {
    font-size: 14px;
    min-width: 440px;
    min-height: 265px;
    max-width: 440px;
    max-height: 265px;
    text-transform: capitalize;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #bbb;
    resize: none;
}

.form > input[type=button] {
    width: max-content;
    height: max-content;
    text-decoration: none;
    text-transform: uppercase;
    color: #00e0d0;
    border: 2px solid #00e0d0;
    border-radius: 1px;
    padding: 14px 35px;
    margin-bottom: 150px;
    background: #fff;
}

.form > input[type=button]:hover {
    color: #fff;
    background: #00e0d0;
}

.clients > h1 {
    margin: 70px 0 50px;
}

.logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
}

/*===========footer===========*/
.footer {
    margin-top: 300px;
    height: 400px;
    background: url("../img/bg/bg_contact.png");
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
}

.contact_info {
    padding-top: 60px;
}

.contact_info > p {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
}

.map,
.mailing {
    padding-top: 90px;
    color: #fff;
    font-size: 14px;
}

.map > h2,
.mailing > h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.maps,
.phone {
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-column-gap: 15px;
}

.phone {
    margin-top: 20px;
}

.mailing_form > input[type=text] {
    padding: 16px;
    background: none;
    border: 1px solid #fff;
    width: 178px;
    color: #fff;
    margin-right: 10px;
}

.mailing_form > input[type=button] {
    width: 70px;
    height: 50px;
    background: center url("../img/button.png") rgba(255, 255, 255, .6) no-repeat;
    background-size: 40%;
    border: none;
}

.ico {
    margin-top: 25px;
}

.ico > a {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.ico > a > i {
    width: 20px;
    height: 20px;
    padding: 5px 0 0 5px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.navi {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.navi > ul {
    width: max-content;
    text-transform: uppercase;
}

.bot_but {
    margin-right: 20px;
    margin-left: 0;
}

.navi > div {
    width: max-content;
    margin-left: auto;
    float: right;
    color: #fff;
}